<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-10000</key>
	<string>EE_DVR_SDK_NOTVALID</string>
	<key>-100000</key>
	<string>EE_ERROR</string>
	<key>-10002</key>
	<string>EE_DVR_ILLEGAL_PARAM</string>
	<key>-10005</key>
	<string>EE_DVR_SDK_TIMEOUT</string>
	<key>-10009</key>
	<string>EE_DVR_SDK_UNKNOWNERROR</string>
	<key>-11000</key>
	<string>EE_DVR_DEV_VER_NOMATCH</string>
	<key>-11001</key>
	<string>EE_DVR_SDK_NOTSUPPORT</string>
	<key>-11200</key>
	<string>EE_DVR_OPEN_CHANNEL_ERROR</string>
	<key>-11202</key>
	<string>EE_DVR_SUB_CONNECT_ERROR</string>
	<key>-11203</key>
	<string>EE_DVR_SUB_CONNECT_SEND_ERROR</string>
	<key>-11204</key>
	<string>EE_DVR_NATCONNET_REACHED_MAX</string>
	<key>-11300</key>
	<string>EE_DVR_NOPOWER</string>
	<key>-11301</key>
	<string>EE_DVR_PASSWORD_NOT_VALID</string>
	<key>-11302</key>
	<string>EE_DVR_LOGIN_USER_NOEXIST</string>
	<key>-11303</key>
	<string>EE_DVR_USER_LOCKED</string>
	<key>-11304</key>
	<string>EE_DVR_USER_IN_BLACKLIST</string>
	<key>-11305</key>
	<string>EE_DVR_USER_HAS_USED</string>
	<key>-11306</key>
	<string>EE_DVR_USER_NOT_LOGIN</string>
	<key>-11307</key>
	<string>EE_DVR_CONNECT_DEVICE_ERROR</string>
	<key>-11308</key>
	<string>EE_DVR_ACCOUNT_INPUT_NOT_VALID</string>
	<key>-11309</key>
	<string>EE_DVR_ACCOUNT_OVERLAP</string>
	<key>-11310</key>
	<string>EE_DVR_ACCOUNT_OBJECT_NONE</string>
	<key>-11311</key>
	<string>EE_DVR_ACCOUNT_OBJECT_NOT_VALID</string>
	<key>-11312</key>
	<string>EE_DVR_ACCOUNT_OBJECT_IN_USE</string>
	<key>-11313</key>
	<string>EE_DVR_ACCOUNT_SUBSET_OVERLAP</string>
	<key>-11314</key>
	<string>EE_DVR_ACCOUNT_PWD_NOT_VALID</string>
	<key>-11315</key>
	<string>EE_DVR_ACCOUNT_PWD_NOT_MATCH</string>
	<key>-11316</key>
	<string>EE_DVR_ACCOUNT_RESERVED</string>
	<key>-11317</key>
	<string>EE_DVR_PASSWORD_ENC_NOT_SUP</string>
	<key>-11318</key>
	<string>EE_DVR_PASSWORD_NOT_VALID2</string>
	<key>-11400</key>
	<string>EE_DVR_OPT_RESTART</string>
	<key>-11401</key>
	<string>EE_DVR_OPT_REBOOT</string>
	<key>-11402</key>
	<string>EE_DVR_OPT_FILE_ERROR</string>
	<key>-11403</key>
	<string>EE_DVR_OPT_CAPS_ERROR</string>
	<key>-11404</key>
	<string>EE_DVR_OPT_VALIDATE_ERROR</string>
	<key>-11405</key>
	<string>EE_DVR_OPT_CONFIG_NOT_EXIST</string>
	<key>-11406</key>
	<string>EE_DVR_OPT_CONFIG_PARSE_ERROR</string>
	<key>-11502</key>
	<string>EE_DVR_CFG_NOT_ENABLE</string>
	<key>-11503</key>
	<string>EE_DVR_VIDEO_DISABLE</string>
	<key>-11612</key>
	<string>EE_DVR_CONNECT_FULL</string>
	<key>-11700</key>
	<string>EE_DVR_PIRATESOFTWARE</string>
	<key>-1239510</key>
	<string>EE_OBJ_NOT_EXIST</string>
	<key>-1239511</key>
	<string>EE_VALUE_NOT_EXIST</string>
	<key>-200000</key>
	<string>EE_ILLEGAL_PARAM</string>
	<key>-200001</key>
	<string>EE_USER_NOEXIST</string>
	<key>-200002</key>
	<string>EE_SQL_ERROR</string>
	<key>-200003</key>
	<string>EE_PASSWORD_NOT_VALID</string>
	<key>-200004</key>
	<string>EE_USER_NO_DEV</string>
	<key>-200007</key>
	<string>EE_USER_EXSIT</string>
	<key>-201101</key>
	<string>EE_MC_UNKNOWNERROR</string>
	<key>-201102</key>
	<string>EE_MC_NOTVALID</string>
	<key>-201103</key>
	<string>EE_MC_MSGFORMATERR</string>
	<key>-201104</key>
	<string>EE_MC_LOGINED</string>
	<key>-201105</key>
	<string>EE_MC_UNLOGINED</string>
	<key>-201106</key>
	<string>EE_MC_USERORPWDERROR</string>
	<key>-201107</key>
	<string>EE_MC_NOPOWER</string>
	<key>-201108</key>
	<string>EE_MC_NOTSUPPORT</string>
	<key>-201109</key>
	<string>EE_MC_TIMEOUT</string>
	<key>-201110</key>
	<string>EE_MC_NOTFOUND</string>
	<key>-201111</key>
	<string>EE_MC_FOUND</string>
	<key>-201112</key>
	<string>EE_MC_FOUNDPART</string>
	<key>-201113</key>
	<string>EE_MC_PIRATESOFTWARE</string>
	<key>-201114</key>
	<string>EE_MC_FILE_NOT_FOUND</string>
	<key>-201115</key>
	<string>EE_MC_PEER_ONLINE</string>
	<key>-201116</key>
	<string>EE_MC_PEER_NOT_ONLINE</string>
	<key>-201117</key>
	<string>EE_MC_PEERCONNET_REACHED_MAX</string>
	<key>-201118</key>
	<string>EE_MC_LINK_SERVER_ERROR</string>
	<key>-201119</key>
	<string>EE_MC_APP_TYPE_ERROR</string>
	<key>-201120</key>
	<string>EE_MC_SEND_DATA_ERROR</string>
	<key>-201121</key>
	<string>EE_MC_AUTHCODE_ERROR</string>
	<key>-201122</key>
	<string>EE_MC_XPMS_UNINIT</string>
	<key>-210002</key>
	<string>EE_AS_PHONE_CODE0</string>
	<key>-210003</key>
	<string>EE_AS_PHONE_CODE1</string>
	<key>-210004</key>
	<string>EE_AS_PHONE_CODE2</string>
	<key>-210005</key>
	<string>EE_AS_PHONE_CODE3</string>
	<key>-210008</key>
	<string>EE_DSS_NOT_SUP_MAIN</string>
	<key>-210009</key>
	<string>EE_TPS_NOT_SUP_MAIN</string>
	<key>-210010</key>
	<string>EE_AS_PHONE_CODE4</string>
	<key>-210017</key>
	<string>EE_AS_PHONE_CODE5</string>
	<key>-210102</key>
	<string>EE_AS_REGISTER_CODE0</string>
	<key>-210103</key>
	<string>EE_AS_REGISTER_CODE1</string>
	<key>-210104</key>
	<string>EE_AS_REGISTER_CODE2</string>
	<key>-210106</key>
	<string>EE_AS_REGISTER_CODE3</string>
	<key>-210107</key>
	<string>EE_AS_REGISTER_CODE4</string>
	<key>-210110</key>
	<string>EE_AS_REGISTER_CODE5</string>
	<key>-210202</key>
	<string>EE_AS_LOGIN_CODE1</string>
	<key>-210203</key>
	<string>EE_AS_LOGIN_CODE2</string>
	<key>-210210</key>
	<string>EE_AS_LOGIN_CODE3</string>
	<key>-210302</key>
	<string>EE_AS_EIDIT_PWD_CODE1</string>
	<key>-210303</key>
	<string>EE_AS_EIDIT_PWD_CODE2</string>
	<key>-210311</key>
	<string>EE_AS_EIDIT_PWD_CODE3</string>
	<key>-210313</key>
	<string>EE_AS_EIDIT_PWD_CODE4</string>
	<key>-210315</key>
	<string>EE_AS_EIDIT_PWD_CODE5</string>
	<key>-210402</key>
	<string>EE_AS_FORGET_PWD_CODE1</string>
	<key>-210403</key>
	<string>EE_AS_FORGET_PWD_CODE2</string>
	<key>-210405</key>
	<string>EE_AS_FORGET_PWD_CODE3</string>
	<key>-210410</key>
	<string>EE_AS_FORGET_PWD_CODE4</string>
	<key>-210414</key>
	<string>EE_AS_FORGET_PWD_CODE5</string>
	<key>-210502</key>
	<string>EE_AS_RESET_PWD_CODE1</string>
	<key>-210503</key>
	<string>EE_AS_RESET_PWD_CODE2</string>
	<key>-210511</key>
	<string>EE_AS_RESET_PWD_CODE3</string>
	<key>-210512</key>
	<string>EE_AS_RESET_PWD_CODE4</string>
	<key>-210514</key>
	<string>EE_AS_RESET_PWD_CODE5</string>
	<key>-210602</key>
	<string>EE_AS_CHECK_PWD_CODE1</string>
	<key>-210603</key>
	<string>EE_AS_CHECK_PWD_CODE2</string>
	<key>-210607</key>
	<string>EE_AS_CHECK_PWD_CODE3</string>
	<key>-210614</key>
	<string>EE_AS_CHECK_PWD_CODE4</string>
	<key>-210700</key>
	<string>EE_AS_GET_PUBLIC_DEV_LIST_CODE</string>
	<key>-210800</key>
	<string>EE_AS_GET_SHARE_DEV_LIST_CODE</string>
	<key>-210900</key>
	<string>EE_AS_SET_DEV_PUBLIC_CODE</string>
	<key>-211000</key>
	<string>EE_AS_SHARE_DEV_VIDEO_CODE</string>
	<key>-211100</key>
	<string>EE_AS_CANCEL_DEV_PUBLIC_CODE</string>
	<key>-211200</key>
	<string>EE_AS_CANCEL_SHARE_VIDEO_CODE</string>
	<key>-211300</key>
	<string>EE_AS_DEV_REGISTER_CODE</string>
	<key>-211400</key>
	<string>EE_AS_SEND_COMMNET_CODE</string>
	<key>-211500</key>
	<string>EE_AS_GET_COMMENT_LIST_CODE</string>
	<key>-211600</key>
	<string>EE_AS_GET_VIDEO_INFO_CODE</string>
	<key>-211700</key>
	<string>EE_AS_UPLOAD_LOCAL_VIDEO_CODE</string>
	<key>-211703</key>
	<string>EE_AS_UPLOAD_LOCAL_VIDEO_CODE1</string>
	<key>-211800</key>
	<string>EE_AS_GET_SHORT_VIDEO_LIST_CODE</string>
	<key>-211900</key>
	<string>EE_AS_EDIT_SHORT_VIDEO_INFO_CODE</string>
	<key>-212000</key>
	<string>EE_AS_DELETE_SHORT_VIDEO_CODE</string>
	<key>-212100</key>
	<string>EE_AS_SELECT_AUTHCODE_CDOE</string>
	<key>-212104</key>
	<string>EE_AS_SELECT_AUTHCODE_CDOE1</string>
	<key>-212200</key>
	<string>EE_AS_GET_USER_PHOTOS_LIST_CODE</string>
	<key>-212300</key>
	<string>EE_AS_CREATE_USER_PHOTOS_CODE</string>
	<key>-212400</key>
	<string>EE_AS_UPLOAD_PHOTO_CODE</string>
	<key>-212402</key>
	<string>EE_AS_UPLOAD_PHOTO_CODE1</string>
	<key>-212500</key>
	<string>EE_AS_EDIT_PHOTO_INFO_CODE</string>
	<key>-212600</key>
	<string>EE_AS_GET_PHOTO_LIST_CODE</string>
	<key>-212700</key>
	<string>EE_AS_DELETE_PHOTO_CODE</string>
	<key>-212800</key>
	<string>EE_AS_DELETE_PHOTOS_CODE</string>
	<key>-212900</key>
	<string>EE_AS_CHECK_PWD_STRENGTH_CODE</string>
	<key>-212902</key>
	<string>EE_AS_CHECK_PWD_STRENGTH_CODE1</string>
	<key>-212903</key>
	<string>EE_AS_CHECK_PWD_STRENGTH_CODE2</string>
	<key>-212910</key>
	<string>EE_AS_CHECK_PWD_STRENGTH_CODE3</string>
	<key>-213000</key>
	<string>EE_HTTP_PWBYEMAIL_UNFINDNAME</string>
	<key>-213001</key>
	<string>EE_HTTP_PWBYEMAIL_FAILURE</string>
	<key>-213100</key>
	<string>EE_AS_SEND_EMAIL_CODE</string>
	<key>-213102</key>
	<string>EE_AS_SEND_EMAIL_CODE1</string>
	<key>-213103</key>
	<string>EE_AS_SEND_EMAIL_CODE2</string>
	<key>-213108</key>
	<string>EE_AS_SEND_EMAIL_CODE3</string>
	<key>-213110</key>
	<string>EE_AS_SEND_EMAIL_CODE4</string>
	<key>-213200</key>
	<string>EE_AS_REGISTE_BY_EMAIL_CODE</string>
	<key>-213202</key>
	<string>EE_AS_REGISTE_BY_EMAIL_CODE1</string>
	<key>-213203</key>
	<string>EE_AS_REGISTE_BY_EMAIL_CODE2</string>
	<key>-213206</key>
	<string>EE_AS_REGISTE_BY_EMAIL_CODE3</string>
	<key>-213207</key>
	<string>EE_AS_REGISTE_BY_EMAIL_CODE4</string>
	<key>-213208</key>
	<string>EE_AS_REGISTE_BY_EMAIL_CODE5</string>
	<key>-213210</key>
	<string>EE_AS_REGISTE_BY_EMAIL_CODE6</string>
	<key>-213300</key>
	<string>EE_AS_SEND_EMAIL_FOR_CODE</string>
	<key>-213302</key>
	<string>EE_AS_SEND_EMAIL_FOR_CODE1</string>
	<key>-213303</key>
	<string>EE_AS_SEND_EMAIL_FOR_CODE3</string>
	<key>-213310</key>
	<string>EE_AS_SEND_EMAIL_FOR_CODE4</string>
	<key>-213314</key>
	<string>EE_AS_SEND_EMAIL_FOR_CODE5</string>
	<key>-213316</key>
	<string>EE_AS_SEND_EMAIL_FOR_CODE6</string>
	<key>-213400</key>
	<string>EE_AS_CHECK_CODE_FOR_EMAIL</string>
	<key>-213402</key>
	<string>EE_AS_CHECK_CODE_FOR_EMAIL1</string>
	<key>-213403</key>
	<string>EE_AS_CHECK_CODE_FOR_EMAIL2</string>
	<key>-213407</key>
	<string>EE_AS_CHECK_CODE_FOR_EMAIL3</string>
	<key>-213414</key>
	<string>EE_AS_CHECK_CODE_FOR_EMAIL4</string>
	<key>-213500</key>
	<string>EE_AS_RESET_PWD_BY_EMAIL</string>
	<key>-213502</key>
	<string>EE_AS_RESET_PWD_BY_EMAIL1</string>
	<key>-213503</key>
	<string>EE_AS_RESET_PWD_BY_EMAIL2</string>
	<key>-213513</key>
	<string>EE_AS_RESET_PWD_BY_EMAIL3</string>
	<key>-213514</key>
	<string>EE_AS_RESET_PWD_BY_EMAIL4</string>
	<key>-213600</key>
	<string>EE_CLOUD_DEV_MAC_BACKLIST</string>
	<key>-213602</key>
	<string>EE_CLOUD_DEV_MAC_EMPTY</string>
	<key>-213603</key>
	<string>EE_CLOUD_DEV_MAC_INVALID</string>
	<key>-213604</key>
	<string>EE_CLOUD_DEV_MAC_UNREDLIST</string>
	<key>-213605</key>
	<string>EE_CLOUD_DEV_NAME_EMPTY</string>
	<key>-213606</key>
	<string>EE_CLOUD_DEV_USERNAME_INVALID</string>
	<key>-213607</key>
	<string>EE_CLOUD_DEV_PASSWORD_INVALID</string>
	<key>-213608</key>
	<string>EE_CLOUD_DEV_NAME_INVALID</string>
	<key>-213610</key>
	<string>EE_CLOUD_PARAM_INVALID</string>
	<key>-213612</key>
	<string>EE_CLOUD_CHANGEDEVINFO</string>
	<key>-213620</key>
	<string>EE_CLOUD_SERVICE_ACTIVATE</string>
	<key>-213621</key>
	<string>EE_CLOUD_SERVICE_UNAVAILABLE</string>
	<key>-213630</key>
	<string>EE_CLOUD_AUTHENTICATION_FAILURE</string>
	<key>-213700</key>
	<string>EE_AS_CHECK_USER_REGISTE_CODE</string>
	<key>-213702</key>
	<string>EE_AS_CHECK_USER_REGISTE_CODE1</string>
	<key>-213703</key>
	<string>EE_AS_CHECK_USER_REGISTE_CODE2</string>
	<key>-213706</key>
	<string>EE_AS_CHECK_USER_REGISTE_CODE3</string>
	<key>-213800</key>
	<string>EE_CLOUD_UPGRADE_UPDATE</string>
	<key>-213801</key>
	<string>EE_CLOUD_UPGRADE_LASTEST</string>
	<key>-213802</key>
	<string>EE_CLOUD_UPGRADE_INVALIDREQ</string>
	<key>-213803</key>
	<string>EE_CLOUD_UPGRADE_UNFINDRES</string>
	<key>-213804</key>
	<string>EE_CLOUD_UPGRADE_SERVER</string>
	<key>-213805</key>
	<string>EE_CLOUD_UPGRADE_SERVER_UNAVAIL</string>
	<key>-213900</key>
	<string>EE_AS_EDIT_USER_PHOTOS_CODE</string>
	<key>-214100</key>
	<string>EE_AS_SYS_LOGOUT_CODE</string>
	<key>-214102</key>
	<string>EE_AS_SYS_LOGOUT_CODE1</string>
	<key>-214103</key>
	<string>EE_AS_SYS_LOGOUT_CODE2</string>
	<key>-214200</key>
	<string>EE_AS_SYS_NO_VALIDATED_REGISTER_CODE</string>
	<key>-214202</key>
	<string>EE_AS_SYS_NO_VALIDATED_REGISTER_CODE1</string>
	<key>-214203</key>
	<string>EE_AS_SYS_NO_VALIDATED_REGISTER_CODE2</string>
	<key>-214206</key>
	<string>EE_AS_SYS_NO_VALIDATED_REGISTER_CODE3</string>
	<key>-214210</key>
	<string>EE_AS_SYS_NO_VALIDATED_REGISTER_CODE4</string>
	<key>-214300</key>
	<string>EE_AS_SYS_GET_USER_INFO_CODE</string>
	<key>-214302</key>
	<string>EE_AS_SYS_GET_USER_INFO_CODE1</string>
	<key>-214303</key>
	<string>EE_AS_SYS_GET_USER_INFO_CODE2</string>
	<key>-214306</key>
	<string>EE_AS_SYS_GET_USER_INFO_CODE3</string>
	<key>-214310</key>
	<string>EE_AS_SYS_GET_USER_INFO_CODE4</string>
	<key>-214313</key>
	<string>EE_AS_SYS_GET_USER_INFO_CODE5</string>
	<key>-214400</key>
	<string>EE_AS_SYS_SEND_BINDING_PHONE_CODE</string>
	<key>-214402</key>
	<string>EE_AS_SYS_SEND_BINDING_PHONE_CODE1</string>
	<key>-214403</key>
	<string>EE_AS_SYS_SEND_BINDING_PHONE_CODE2</string>
	<key>-214404</key>
	<string>EE_AS_SYS_SEND_BINDING_PHONE_CODE3</string>
	<key>-214405</key>
	<string>EE_AS_SYS_SEND_BINDING_PHONE_CODE4</string>
	<key>-214406</key>
	<string>EE_AS_SYS_SEND_BINDING_PHONE_CODE5</string>
	<key>-214410</key>
	<string>EE_AS_SYS_SEND_BINDING_PHONE_CODE6</string>
	<key>-214413</key>
	<string>EE_AS_SYS_SEND_BINDING_PHONE_CODE7</string>
	<key>-214417</key>
	<string>EE_AS_SYS_SEND_BINDING_PHONE_CODE8</string>
	<key>-214500</key>
	<string>EE_AS_SYS_BINDING_PHONE_CODE</string>
	<key>-214502</key>
	<string>EE_AS_SYS_BINDING_PHONE_CODE1</string>
	<key>-214503</key>
	<string>EE_AS_SYS_BINDING_PHONE_CODE2</string>
	<key>-214504</key>
	<string>EE_AS_SYS_BINDING_PHONE_CODE3</string>
	<key>-214506</key>
	<string>EE_AS_SYS_BINDING_PHONE_CODE4</string>
	<key>-214507</key>
	<string>EE_AS_SYS_BINDING_PHONE_CODE5</string>
	<key>-214510</key>
	<string>EE_AS_SYS_BINDING_PHONE_CODE6</string>
	<key>-214513</key>
	<string>EE_AS_SYS_BINDING_PHONE_CODE7</string>
	<key>-214600</key>
	<string>EE_AS_SYS_SEND_BINDING_EMAIL_CODE</string>
	<key>-214602</key>
	<string>EE_AS_SYS_SEND_BINDING_EMAIL_CODE1</string>
	<key>-214606</key>
	<string>EE_AS_SYS_SEND_BINDING_EMAIL_CODE2</string>
	<key>-214608</key>
	<string>EE_AS_SYS_SEND_BINDING_EMAIL_CODE3</string>
	<key>-214610</key>
	<string>EE_AS_SYS_SEND_BINDING_EMAIL_CODE4</string>
	<key>-214613</key>
	<string>EE_AS_SYS_SEND_BINDING_EMAIL_CODE5</string>
	<key>-214700</key>
	<string>EE_AS_SYS_BINDING_EMAIL_CODE</string>
	<key>-214702</key>
	<string>EE_AS_SYS_BINDING_EMAIL_CODE1</string>
	<key>-214703</key>
	<string>EE_AS_SYS_BINDING_EMAIL_CODE2</string>
	<key>-214706</key>
	<string>EE_AS_SYS_BINDING_EMAIL_CODE3</string>
	<key>-214707</key>
	<string>EE_AS_SYS_BINDING_EMAIL_CODE4</string>
	<key>-214708</key>
	<string>EE_AS_SYS_BINDING_EMAIL_CODE5</string>
	<key>-214710</key>
	<string>EE_AS_SYS_BINDING_EMAIL_CODE6</string>
	<key>-214713</key>
	<string>EE_AS_SYS_BINDING_EMAIL_CODE7</string>
	<key>-214802</key>
	<string>EE_AS_REGISTER_EXTEND_CODE0</string>
	<key>-214803</key>
	<string>EE_AS_REGISTER_EXTEND_CODE1</string>
	<key>-214804</key>
	<string>EE_AS_REGISTER_EXTEND_CODE2</string>
	<key>-214806</key>
	<string>EE_AS_REGISTER_EXTEND_CODE3</string>
	<key>-214807</key>
	<string>EE_AS_REGISTER_EXTEND_CODE4</string>
	<key>-214810</key>
	<string>EE_AS_REGISTER_EXTEND_CODE5</string>
	<key>-214900</key>
	<string>EE_AS_REGISTE_BY_EMAIL_EXTEND_CODE</string>
	<key>-214902</key>
	<string>EE_AS_REGISTE_BY_EMAIL_EXTEND_CODE1</string>
	<key>-214903</key>
	<string>EE_AS_REGISTE_BY_EMAIL_EXTEND_CODE2</string>
	<key>-214906</key>
	<string>EE_AS_REGISTE_BY_EMAIL_EXTEND_CODE3</string>
	<key>-214907</key>
	<string>EE_AS_REGISTE_BY_EMAIL_EXTEND_CODE4</string>
	<key>-214908</key>
	<string>EE_AS_REGISTE_BY_EMAIL_EXTEND_CODE5</string>
	<key>-214910</key>
	<string>EE_AS_REGISTE_BY_EMAIL_EXTEND_CODE6</string>
	<key>-215000</key>
	<string>EE_AS_SYS_NO_VALIDATED_REGISTER_EXTEND_CODE</string>
	<key>-215002</key>
	<string>EE_AS_SYS_NO_VALIDATED_REGISTER_EXTEND_CODE1</string>
	<key>-215003</key>
	<string>EE_AS_SYS_NO_VALIDATED_REGISTER_EXTEND_CODE2</string>
	<key>-215006</key>
	<string>EE_AS_SYS_NO_VALIDATED_REGISTER_EXTEND_CODE3</string>
	<key>-215010</key>
	<string>EE_AS_SYS_NO_VALIDATED_REGISTER_EXTEND_CODE4</string>
	<key>-215100</key>
	<string>EE_DSS_XMCloud_InvalidParam</string>
	<key>-215101</key>
	<string>EE_DSS_XMCloud_ConnectHls</string>
	<key>-215102</key>
	<string>EE_DSS_XMCloud_InvalidStream</string>
	<key>-215103</key>
	<string>EE_DSS_XMCloud_Request</string>
	<key>-215104</key>
	<string>EE_DSS_XMCloud_StreamInterrupt</string>
	<key>-215110</key>
	<string>EE_DSS_SQUARE_PARSE_URL</string>
	<key>-215120</key>
	<string>EE_DSS_MINOR_STREAM_DISABLE</string>
	<key>-215121</key>
	<string>EE_DSS_NO_VIDEO</string>
	<key>-215122</key>
	<string>EE_DSS_DEVICE_NOT_SUPPORT</string>
	<key>-215130</key>
	<string>EE_DSS_BAD_REQUEST</string>
	<key>-215131</key>
	<string>EE_MEDIA_CONNET_REACHED_MAX</string>
	<key>-221201</key>
	<string>EE_ALARM_CHECK_AUTHCODE_FAILED</string>
	<key>-221202</key>
	<string>EE_ALARM_NOT_SUPPORTED</string>
	<key>-222400</key>
	<string>EE_ALARM_SELECT_NO_RECORD</string>
	<key>-223000</key>
	<string>EE_VIDEOPLAY_URL_NULL</string>
	<key>-223001</key>
	<string>EE_VIDEOPLAY_URL_Open</string>
	<key>-223002</key>
	<string>EE_VIDEOPLAY_URL_FindStream</string>
	<key>-223003</key>
	<string>EE_VIDEOPLAY_URL_FindVideoStream</string>
	<key>-223010</key>
	<string>EE_VIDEOPLAY_URL_ReadStream</string>
	<key>-223100</key>
	<string>EE_DEVLOG_OPENTELNET</string>
	<key>-300000</key>
	<string>EE_SYS_GET_AUTH_CODE</string>
	<key>-400000</key>
	<string>EE_MNETSDK_HEARTBEAT_TIMEOUT</string>
	<key>-400001</key>
	<string>EE_MNETSDK_FILE_NOTEXIST</string>
	<key>-400002</key>
	<string>EE_MNETSDK_IS_UPGRADING</string>
	<key>-400003</key>
	<string>EE_MNETSDK_SERVER_STATUS_ERROR</string>
	<key>-400004</key>
	<string>EE_MNETSDK_GETCONNECT_TYPE_ERROR</string>
	<key>-400005</key>
	<string>EE_MNETSDK_QUERY_SERVER_FAIL</string>
	<key>-400006</key>
	<string>EE_MNETSDK_HAS_CONNECTED</string>
	<key>-400007</key>
	<string>EE_MNETSDK_IS_LOGINING</string>
	<key>-400008</key>
	<string>EE_MNETSDK_DEV_IS_OFFLINE</string>
	<key>-400009</key>
	<string>EE_MNETSDK_NOTSUPPORT</string>
	<key>-400010</key>
	<string>EE_MENTSDK_NOFILEFOUND</string>
	<key>-400011</key>
	<string>EE_MNETSDK_DISCONNECT_ERROR</string>
	<key>-400012</key>
	<string>EE_MNETSDK_TALK_ALAREADY_START</string>
	<key>-400013</key>
	<string>EE_MNETSDK_DEV_PTL</string>
	<key>-400014</key>
	<string>EE_MNETSDK_BACKUP_FAILURE</string>
	<key>-400015</key>
	<string>EE_MNETSDK_NODEVICE</string>
	<key>-400016</key>
	<string>EE_MNETSDK_USEREXIST</string>
	<key>-400017</key>
	<string>EE_MNETSDK_CAPTURE_PIC_FAILURE</string>
	<key>-400100</key>
	<string>EE_MNETSDK_TALK_NOT_START</string>
	<key>-400101</key>
	<string>EE_MNETSDK_STORAGE_IS_FULL</string>
	<key>-604000</key>
	<string>EE_ACCOUNT_HTTP_USERNAME_PWD_ERROR</string>
	<key>-604010</key>
	<string>EE_ACCOUNT_VERIFICATION_CODE_ERROR</string>
	<key>-604011</key>
	<string>EE_ACCOUNT_PASSWORD_NOT_SAME</string>
	<key>-604012</key>
	<string>EE_ACCOUNT_USERNAME_HAS_BEEN_REGISTERED</string>
	<key>-604013</key>
	<string>EE_ACCOUNT_USERNAME_IS_EMPTY</string>
	<key>-604014</key>
	<string>EE_ACCOUNT_PASSWORD_IS_EMPTY</string>
	<key>-604015</key>
	<string>EE_ACCOUNT_COMFIRMPWD_IS_EMPTY</string>
	<key>-604016</key>
	<string>EE_ACCOUNT_PHONE_IS_EMPTY</string>
	<key>-604017</key>
	<string>EE_ACCOUNT_USERNAME_FORMAT_NOT_CORRECT</string>
	<key>-604018</key>
	<string>EE_ACCOUNT_PASSWORD_FORMAT_NOT_CORRECT</string>
	<key>-604019</key>
	<string>EE_ACCOUNT_COMFIRMPWD_FORMAT_NOT_CORRECT</string>
	<key>-604020</key>
	<string>EE_ACCOUNT_PHONE_FORMAT_NOT_CORRECT</string>
	<key>-604021</key>
	<string>EE_ACCOUNT_PHONE_IS_EXIST</string>
	<key>-604022</key>
	<string>EE_ACCOUNT_PHONE_NOT_EXSIT</string>
	<key>-604023</key>
	<string>EE_ACCOUNT_EMAIL_IS_EXIST</string>
	<key>-604024</key>
	<string>EE_ACCOUNT_EMAIL_NOT_EXIST</string>
	<key>-604026</key>
	<string>EE_ACCOUNT_OLD_PASSWORD_ERROR</string>
	<key>-604027</key>
	<string>EE_ACCOUNT_MODIFY_PASSWORD_ERROR</string>
	<key>-604029</key>
	<string>EE_ACCOUNT_USERID_IS_EMPTY</string>
	<key>-604030</key>
	<string>EE_ACCOUNT_VERIFICATION_CODE_IS_EMPTY</string>
	<key>-604031</key>
	<string>EE_ACCOUNT_EMAIL_IS_EMPTY</string>
	<key>-604032</key>
	<string>EE_ACCOUNT_EMAIL_FORMATE_NOT_CORRECT</string>
	<key>-604034</key>
	<string>EE_ACCOUNT_USER_NOT_WX_BIND</string>
	<key>-604035</key>
	<string>EE_ACCOUNT_USER_HAS_WX_BIND</string>
	<key>-604036</key>
	<string>EE_ACCOUNT_USER_FAIL_WX_BIND</string>
	<key>-604037</key>
	<string>EE_ACCOUNT_USER_FAIL_PHONE_BIND</string>
	<key>-604038</key>
	<string>EE_ACCOUNT_USER_FAIL_MAIL_BIND</string>
	<key>-604100</key>
	<string>EE_ACCOUNT_DEVICE_ILLEGAL_NOT_ADD</string>
	<key>-604101</key>
	<string>EE_ACCOUNT_DEVICE_ALREADY_EXSIT</string>
	<key>-604102</key>
	<string>EE_ACCOUNT_DEVICE_DELETE_FAIL</string>
	<key>-604103</key>
	<string>EE_ACCOUNT_DEVICE_CHANGE_IFNO_FAIL</string>
	<key>-604104</key>
	<string>EE_ACCOUNT_DEVICE_UUID_ILLEGAL</string>
	<key>-604105</key>
	<string>EE_ACCOUNT_DEVICE_USERNAME_ILLEGAL</string>
	<key>-604106</key>
	<string>EE_ACCOUNT_DEVICE_PASSWORD_ILLEGAL</string>
	<key>-604107</key>
	<string>EE_ACCOUNT_DEVICE_PORT_ILLEGAL</string>
	<key>-604108</key>
	<string>EE_ACCOUNT_DEVICE_EXTEND_ILLEGAL</string>
	<key>-604200</key>
	<string>EE_ACCOUNT_ADD_OPEN_APP_FAIL</string>
	<key>-604201</key>
	<string>EE_ACCOUNT_UPDATE_OPEN_APP_FAIL</string>
	<key>-604202</key>
	<string>EE_ACCOUNT_DELETE_OPEN_APP_FAIL</string>
	<key>-604203</key>
	<string>EE_ACCOUNT_SYN_TYPE_APP_FAIL</string>
	<key>-604300</key>
	<string>EE_ACCOUNT_SEND_CODE_FAIL</string>
	<key>-604400</key>
	<string>EE_ACCOUNT_MESSAGE_INTERFACE_CHECK_ERROR</string>
	<key>-604401</key>
	<string>EE_ACCOUNT_MESSAGE_INTERFACE_PARM_ERROR</string>
	<key>-604402</key>
	<string>EE_ACCOUNT_MESSAGE_TIME_MORE_THAN_THREE</string>
	<key>-604403</key>
	<string>EE_ACCOUNT_MESSAGE_SEND_ERROR</string>
	<key>-604404</key>
	<string>EE_ACCOUNT_MESSAGE_SEND_OFTEN</string>
	<key>-604405</key>
	<string>EE_ACCOUNT_MESSAGE_NONE_FAIL</string>
	<key>-604500</key>
	<string>EE_ACCOUNT_OPEN_USER_LIST_NULL</string>
	<key>-604502</key>
	<string>EE_ACCOUNT_OPEN_DEVICE_LIST_NULL</string>
	<key>-604503</key>
	<string>EE_ACCOUNT_RESET_OPEN_APP_SECRET_FAIL</string>
	<key>-604600</key>
	<string>EE_ACCOUNT_NOT_OPENED</string>
	<key>-605000</key>
	<string>EE_ACCOUNT_HTTP_SERVER_ERROR</string>
	<key>-605001</key>
	<string>EE_ACCOUNT_CERTIFICATE_NOT_EXIST</string>
	<key>-605002</key>
	<string>EE_ACCOUNT_HTTP_HEADER_ERROR</string>
	<key>-605003</key>
	<string>EE_ACCOUNT_CERTIFICATE_FAILURE</string>
	<key>-605004</key>
	<string>EE_ACCOUNT_ENCRYPT_CHECK_FAILURE</string>
	<key>-605005</key>
	<string>EE_ACCOUNT_PARMA_ABNORMAL</string>
	<key>-605006</key>
	<string>EE_ACCOUNT_CONNECTION_FAILURE</string>
	<key>-605007</key>
	<string>EE_ACCOUNT_NODE_ERROR</string>
	<key>-605008</key>
	<string>EE_ACCOUNT_IP_NOT_ALLOWED</string>
	<key>-605009</key>
	<string>EE_ACCOUNT_DECRYPT_ERROR</string>
	<key>-605010</key>
	<string>EE_ACCOUNT_CERTIFICATE_BLACK</string>
	<key>-66000</key>
	<string>EE_ACCOUNT_LOGINTYPE_INVALID</string>
	<key>-661412</key>
	<string>EE_ACCOUNT_USER_IS_NOT_EXSIT</string>
	<key>-661427</key>
	<string>EE_ACCOUNT_NEW_PWD_FORMAT_NOT_CORRECT</string>
	<key>-70000</key>
	<string>EE_DVR_ERROR_BEGIN</string>
	<key>-70113</key>
	<string>EE_DVR_USER_NOT_EXIST</string>
	<key>-70114</key>
	<string>EE_DVR_GROUP_EXIST</string>
	<key>-70115</key>
	<string>EE_DVR_GROUP_NOT_EXIST</string>
	<key>-70118</key>
	<string>EE_DVR_NO_PTZ_PROTOCOL</string>
	<key>-70121</key>
	<string>EE_DVR_MEDIA_CHN_NOTCONNECT</string>
	<key>-70123</key>
	<string>EE_DVR_TCPCONNET_REACHED_MAX</string>
	<key>-70124</key>
	<string>EE_DVR_LOGIN_ARGO_ERROR</string>
	<key>-70125</key>
	<string>EE_DVR_LOGIN_NO_ADMIN</string>
	<key>-70126</key>
	<string>EE_DVR_LOGIN_TOO_FREQUENTLY</string>
	<key>-70130</key>
	<string>EE_DVR_NAS_EXIST</string>
	<key>-70131</key>
	<string>EE_DVR_NAS_ALIVE</string>
	<key>-70132</key>
	<string>EE_DVR_NAS_REACHED_MAX</string>
	<key>-70140</key>
	<string>EE_DVR_CONSUMER_OPR_WRONG_KEY</string>
	<key>-70150</key>
	<string>EE_DVR_NEED_REBOOT</string>
	<key>-70153</key>
	<string>EE_DVR_NO_SD_CARD</string>
	<key>-70162</key>
	<string>EE_DVR_CPPLUS_USR_PSW_ERR</string>
	<key>-70501</key>
	<string>EE_COMMAND_INVALID</string>
	<key>-70510</key>
	<string>EE_UPGRADE_ALAREADY_START</string>
	<key>-70511</key>
	<string>EE_UPGRADE_NOT_START</string>
	<key>-70513</key>
	<string>EE_UPGRADE_FAILED</string>
	<key>-70514</key>
	<string>EE_UPGRADE_SUCCESS</string>
	<key>-70520</key>
	<string>EE_SET_DEFAULT_FAILED</string>
	<key>-70521</key>
	<string>EE_SET_DEFAULT_REBOOT</string>
	<key>-70522</key>
	<string>EE_SET_DEFAULT_VALIDATE_ERROR</string>
	<key>-79001</key>
	<string>EE_DVR_XMSDK_UNKOWN</string>
	<key>-79002</key>
	<string>EE_DVR_XMSDK_INIT_FAILED</string>
	<key>-79003</key>
	<string>EE_DVR_XMSDK_INVALID_ARGUMENT</string>
	<key>-79004</key>
	<string>EE_DVR_XMSDK_OFFLINE</string>
	<key>-79005</key>
	<string>EE_DVR_XMSDK_NOT_CONNECT_TO_SERVER</string>
	<key>-79006</key>
	<string>EE_DVR_XMSDK_NOT_REGISTER_TO_SERVER</string>
	<key>-79007</key>
	<string>EE_DVR_XMSDK_CONNECT_IS_FULL</string>
	<key>-79008</key>
	<string>EE_DVR_XMSDK_NOT_CONNECTED</string>
	<key>-79020</key>
	<string>EE_DVR_XMSDK_CONNECT_IS_TIMEOUT</string>
	<key>-79021</key>
	<string>EE_DVR_XMSDK_CONNECT_REFUSE</string>
	<key>-79022</key>
	<string>EE_DVR_XMSDK_QUERY_STATUS_TIMEOUT</string>
	<key>-79023</key>
	<string>EE_DVR_XMSDK_QUERY_WANIP_TIMEOUT</string>
	<key>-79024</key>
	<string>EE_DVR_XMSDK_HANDSHAKE_TIMEOUT</string>
	<key>-79025</key>
	<string>EE_DVR_XMSDK_QUERY_SERVER_TIMEOUT</string>
	<key>-79026</key>
	<string>EE_DVR_XMSDK_HEARTBEAT_IS_TIMEOUT</string>
	<key>-79027</key>
	<string>EE_DVR_XMSDK_MSGSVR_ERRNO_DISCONNECT</string>
	<key>-90000</key>
	<string>EE_USER_CANCEL</string>
	<key>-90001</key>
	<string>EE_FILE_IS_ILLEGAL</string>
	<key>-99985</key>
	<string>EE_SERVER_INTERNAL_ERROR</string>
	<key>-99986</key>
	<string>EE_OBJECT_BUSY</string>
	<key>-99987</key>
	<string>EE_NET_SEND</string>
	<key>-99988</key>
	<string>EE_NET_RECV</string>
	<key>-99989</key>
	<string>EE_NEW_BUFFER</string>
	<key>-99990</key>
	<string>EE_NOT_FOUND</string>
	<key>-99991</key>
	<string>EE_TIMEOUT</string>
	<key>-99992</key>
	<string>EE_OBJ_EXIST</string>
	<key>-99993</key>
	<string>EE_NET</string>
	<key>-99994</key>
	<string>EE_NO_SUPPORTED</string>
	<key>-99995</key>
	<string>EE_READ_FILE</string>
	<key>-99996</key>
	<string>EE_WRITE_FILE</string>
	<key>-99997</key>
	<string>EE_OPEN_FILE</string>
	<key>-99998</key>
	<string>EE_CREATE_FILE</string>
	<key>-99999</key>
	<string>EE_PARAM_ERROR</string>
	<key>0</key>
	<string>EE_OK</string>
	<key>10001</key>
	<string>EE_AS_PHONE_CODE</string>
</dict>
</plist>
