<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ButtonObject</key>
	<dict>
		<key>速度</key>
		<dict>
			<key>NormalState</key>
			<string>Speed_Select.png</string>
			<key>EventTypeNumber</key>
			<string>102</string>
			<key>title</key>
			<string>1X</string>
			<key>selectTitle</key>
			<string>2X</string>
		</dict>
		<key>停止</key>
		<dict>
			<key>停止播放按钮</key>
			<string></string>
			<key>NormalState</key>
			<string>btn_pause.png</string>
			<key>SelectedState</key>
			<string>btn_pause_select.png</string>
			<key>EventType</key>
			<string>CONTROL_REALPLAY_CloseChannle</string>
			<key>EventTypeNumber</key>
			<integer>0</integer>
		</dict>
		<key>音频</key>
		<dict>
			<key>音频播放按钮</key>
			<string></string>
			<key>NormalState</key>
			<string>btn_voice_normal.png</string>
			<key>SelectedState</key>
			<string>btn_voice_selected.png</string>
			<key>EventType</key>
			<string>CONTROL_REALPLAY_VOICE</string>
			<key>EventTypeNumber</key>
			<integer>1</integer>
		</dict>
		<key>菜单</key>
		<dict>
			<key>预览界面菜单按钮</key>
			<string></string>
			<key>NormalState</key>
			<string>btn_menu_normal.png</string>
			<key>SelectedState</key>
			<string>btn_menu_normal.png</string>
			<key>EventType</key>
			<string>CONTROL_REALPLAY_MENU</string>
			<key>EventTypeNumber</key>
			<integer>2</integer>
		</dict>
		<key>抓图</key>
		<dict>
			<key>抓图按钮</key>
			<string></string>
			<key>NormalState</key>
			<string>btn_camera_normal.png</string>
			<key>SelectedState</key>
			<string>btn_camera_normal.png</string>
			<key>EventType</key>
			<string>CONTROL_REALPLAY_SNAP</string>
			<key>EventTypeNumber</key>
			<integer>3</integer>
		</dict>
		<key>录像</key>
		<dict>
			<key>录像按钮</key>
			<string></string>
			<key>NormalState</key>
			<string>btn_record.png</string>
			<key>SelectedState</key>
			<string>btn_recording.png</string>
			<key>EventType</key>
			<string>CONTROL_REALPLAY_VIDEO</string>
			<key>EventTypeNumber</key>
			<string>4</string>
		</dict>
		<key>对讲</key>
		<dict>
			<key>对讲按钮</key>
			<string></string>
			<key>NormalState</key>
			<string>talk_unselect.png</string>
			<key>SelectedState</key>
			<string>talk_select.png</string>
			<key>EventType</key>
			<string>CONTROL_REALPLAY_TALK</string>
			<key>EventTypeNumber</key>
			<integer>5</integer>
		</dict>
		<key>云台</key>
		<dict>
			<key>云台按钮</key>
			<string></string>
			<key>NormalState</key>
			<string>PTZ_tool_Unselect.png</string>
			<key>SelectedState</key>
			<string>PTZ_tool_select.png</string>
			<key>EventType</key>
			<string>CONTROL_FULLREALPLAY_PTZ</string>
			<key>EventTypeNumber</key>
			<string>205</string>
		</dict>
		<key>暂停</key>
		<dict>
			<key>暂停播放按钮</key>
			<string></string>
			<key>NormalState</key>
			<string>btn_pause.png</string>
			<key>SelectedState</key>
			<string>btn_pause_select.png</string>
			<key>EventType</key>
			<string>CONTROL_FULLREALPLAY_PAUSE</string>
			<key>EventTypeNumber</key>
			<integer>200</integer>
		</dict>
		<key>全屏</key>
		<dict>
			<key>全屏按钮</key>
			<string></string>
			<key>NormalState</key>
			<string>screen_ vertical.png</string>
			<key>SelectedState</key>
			<string>btn_tool_capture_highlighted.png</string>
			<key>EventType</key>
			<string></string>
			<key>EventTypeNumber</key>
			<integer>300</integer>
		</dict>
	</dict>
</dict>
</plist>
